<div class="this-week">This Week <%= @this_week %></div>
<% @gadgets.each do |gadget| %>
  <div class="gadget-space">
    <table>
      <tr>
        <td class="block vote-space">
          <table>
            
            <tr><td><div id="upvote" class="arrow arrow-up" /></td></tr>
            <tr class="vote-numbers"><td>+ <%= gadget.upvotes %>, - <%= gadget.downvotes %></td></tr>
            <% unless current_user.nil? %>
              <tr class="vote-numbers"><td>Your Vote: <%= gadget.users_vote(current_user) %> </td></tr>
            <% end %>
            <tr><td><%= form_tag "/gadgets/#{gadget.id}/downvote/", { method: :post, remote: true, class: "arrow arrow-down", id: 'downvote' } %></td></tr>
          </table>
        </td>
        <td class="block image-space"><%= image_tag gadget.image, { class: 'block image-space' } %></td>
        <td class="info-space">
          <table class="display-table">
            <tr class="gadget-title">
              <td class="gadget-name"><%= gadget.name %></td>
              <td class="gadget-url"><%= link_to gadget.website, gadget.website %></td>
            </tr>
          </table>
          <table class="display-table">
            <tr>
              <td class="description"><%= gadget.description %></td>
            </tr>
          </table>
          
        </td>
        <td class="share">
          <div>Comments</div>
          <div>Share this</div>
        </td>
      </tr>
    </table>
  </div>
<% end %>
