<div class="this-week">This Week <%= @this_week %></div>
<% @gadgets.each do |gadget| %>
  <div class="gadget-space">
    <table>
      <tr>
        <td class="block vote-space">
          <table>
            
            <tr><td><div class="arrow arrow-up" gadget-id="<%= gadget.id %>" /></td></tr>
            <tr><td class="vote-numbers" gadget-id="<%= gadget.id %>">+ <%= gadget.upvotes %>, - <%= gadget.downvotes %></td></tr>
            <% unless current_user.nil? %>
              <tr class="vote-numbers"><td>Your Vote: <span id="user-vote-<%= gadget.id %>"><%= gadget.users_vote(current_user) %></span></td></tr>
            <% end %>
            <tr><td><div class="arrow arrow-down" gadget-id="<%= gadget.id %>" /></td></tr>
          </table>
        </td>
        <td class="block image-space"><%= image_tag gadget.image, { class: 'block image-space' } %></td>
        <td class="info-space">
          <table class="display-table">
            <tr class="gadget-title">
              <td class="gadget-name"><%= gadget.name %></td>
              <td class="gadget-url"><%= link_to gadget.website, gadget.website %></td>
            </tr>
          </table>
          <table class="display-table">
            <tr>
              <td class="description"><%= gadget.description %></td>
            </tr>
          </table>
          
        </td>
        <td class="share">
          <div>Comments</div>
          <div>Share this</div>
        </td>
      </tr>
    </table>
  </div>
<% end %>
