<p id="notice"><%= notice %></p>

<p>
  <strong>Gadget Details:</strong>
  <%= @gadget.name %>
</p>

<table>
  <tr>
    <td><%= image_tag @gadget.image, { class: 'image-big',
                  height: @image_height, width: @image_width } %></td>
    <td><%= @gadget.description %></td>
  </tr>
</table>

<% @comments.each do |comment| %>
  <%= render partial: '/comments/comment_space', locals: {comment: comment} %>
<% end %>


<%= form_for(@new_comment, url: { controller: :comments, action: :create }) do |f| %>
  <% if @new_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @new_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="field">
      <%= f.label 'Title' %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label 'Comment Text' %><br>
      <%= f.text_field :text %>
    </div>
    <div class="radio-btn">
      <%= f.label 'Have it?' %><br>
      <%= f.radio_button :have_it, true %>
      <%= label_tag :have_it_yes, 'Yes!' %>
      <%= f.radio_button :have_it, false %>
      <%= label_tag :have_it_no, 'No~' %>
    </div>
    <%= f.hidden_field :gadget_id, value: @gadget.id %>

    <%= f.submit %>
  </div>
<% end %>



<%= link_to 'Edit', edit_gadget_path(@gadget) %> |
<%= link_to 'Back', gadgets_path %>
