<!DOCTYPE html>
<html>
<head>
  <title>BetterMousetrap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <div>
        <%= link_to 'Better Mousetrap', gadgets_url, { class: 'navbar-brand' } %>
             
         <% if signed_in? %>
        <%= link_to 'Submit a Gadget', new_gadget_path %>
        <%= link_to 'Logout', '/logout', { method: :delete } %>      	
        <% else %>
        <%= link_to 'Login', '/login', {method: :get } %>
        <%= link_to 'Register', '/register', {method: :get } %>
        <% end %>
  </div>
  </header>

<%= yield %>

</body>
</html>
